@media (max-width: 1400px) {
    .left-banner{
        margin-top: 150px;
    }
    .right-banner{
        margin-top: 50px;
    }
    .left-banner h3{
        font-size: 50px;
    }
}
@media (max-width: 1200px) {
    .left-banner h3{
        font-size: 30px;
    }
    .booking-box{
        padding: 40px 25px;
    }
}
@media (max-width: 992px) {
    .left-banner h3{
        font-size: 45px;
    }
}
@media (max-width: 768px) {
    .left-banner h3{
        font-size: 30px;
    }
}
@media (max-width: 576px) {
    .container{
        padding: 0px 35px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}